@use '../../../theme.scss' as theme;

.root{
    min-width: theme.width(60);
    max-width:theme.width(80);

}
.file-upload-container {
    @include theme.border(10, 2, dashed, theme.$light-color);
    background: theme.$background-color;
    color: theme.$light-color;
    padding: theme.spacing(2);
}

.browse-label {
    color: theme.$primary-color;
    cursor: pointer;
    font-weight: theme.fontweight(bold);
    text-decoration: underline;
}

.card-header {
    background-color: theme.$primary-color;
    color: theme.$white-color;
}

.finish-date {
    background-color: theme.$success-color;
    color: theme.$white-color !important;
    padding: theme.spacing(2);
    border-radius: theme.$border-radius;
    font-size: theme.fontsize(1.5);
}

.files-icon {
    margin-left: theme.spacing(1);
    width: theme.width(2);
    height: theme.height(2);
    cursor: pointer;
}

p {
    font-size: theme.fontsize(1.75);
    margin-bottom: theme.spacing(1);
}

.query-completed {
    @include theme.border(15, 2, solid, theme.$success-color);
    color: theme.$success-color;
}

.query-pending {
    @include theme.border(15, 2, solid, #fa8f56);
    color: #fa8f56;
}

.query-status {
    @include theme.text-align(center);
    padding: theme.spacing(1);
    width: theme.width(12);
}

.page-title {
    color: theme.$primary-color;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: theme.spacing(2);
    font-family: theme.$font-effra-regular;
    font-weight: 500;
    font-size: 16px;
}
.light-color{
    color: theme.$light-color;
}