.upload-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #595c64;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: #f9f9f9;
    transition: background 0.3s ease;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.upload-box:hover {
    background: #eef6ff;
}

.browse-label {
    color: #085da8;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.file-name {
    margin-top: 10px;
    color: #2c3e50;
}

.file-name-list {
    padding: 0
}

.btn-primary {
    background-color: #085da8;
    border: #085da8;
}

.text-primary {
    color: #085da8 !important;
}

.card-header {
    background-color: #085da8;
    color: #fff;
}

.finish-date {
    background-color: #00e00e;
    color: #fff;
}

.files-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;

}

.chat {
    color: #085da8;
    cursor: pointer;
}

p {
    font-size: 14px;
    margin-bottom: 5px;
}

.workflowname {
    color: #085da8;
    text-decoration: none;
    cursor: pointer
}

.finish-date {
    background-color: #00e00e;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;

}

.card-body {
    margin-left: 13px;
}

.outcomes {
    color: #085da8;
}

.form-check .form-check-input {
    float: right !important;
    margin-left: 10px !important;
}

.query-status {
    display: inline-block;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
}

.query-pending {
    border: 1px solid #fa8f56;
    color: #fa8f56;
}

.query-completed {
    border: 1px solid #06d035;
    color: #06d035;
}

.w-65 {
    width: 65%;
}