<div class="container mt-3">
    <div class="justify-content-left col-10">
        <a class="workflowname" (click)="goToDashboard()">
            <img src="../../../assets/icons/Left_arrow.png" alt="Back" />
            Workflow: {{ task.workflowName }}
        </a>

        <div class="card w-65 mt-3">
            <div class="card-header">
                <p>Task - {{ task.task_taskName }}</p>
                <span class="text-muted finish-date ">Need to finish by: 20 July 2025, 05:00 PM</span>
            </div>

            <div class="card-body">
                <ng-container *ngFor="let item of task.task_sections; let i = index">
                    <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                        <p class="text-muted text-decoration-underline">{{ item.taskBusinessName }}</p>
                        <div>
                            <div *ngIf="taskType === 'upload'" class="upload-box mb-2">
                                <p>
                                    Drag & drop file(s) or
                                    <label for="fileInput-{{ i }}" class="browse-label">Browse</label>
                                </p>
                                <input type="file" id="fileInput-{{ i }}" (change)="onFileSelected($event, i)"
                                    accept=".csv" multiple hidden />
                            </div>

                            <ul class="file-name-list list-unstyled" *ngIf="item.files?.length">
                                <label class="mt-1 text-muted">Uploaded File</label>
                                <li *ngFor="let file of item.files; let j = index"
                                    class="d-flex align-items-center justify-content-between" style="font-size: 14px;">
                                    <a class="text-primary">{{ file.name }}</a>
                                    <span>
                                        <img src="../../../assets/icons/Versions.png" alt="Version Icon"
                                            class="files-icon"
                                            (click)="openFileVersionPopup(item.taskBusinessName, file.versions)" />
                                        <img src="../../../assets/icons/File_history.png" alt="File History"
                                            class="files-icon"
                                            (click)="openFileHistoryPopup(item.taskBusinessName, file.history)" />
                                        <img *ngIf="taskType === 'upload'" src="../../../assets/icons/Bin.png"
                                            alt="Delete Icon" class="files-icon" (click)="removeFile(i, j)" />
                                        <img *ngIf="taskType !== 'upload'" src="../../../assets/icons/File_download.png"
                                            alt="File Download" class="files-icon" />
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr style="border: 1px solid #ccc;" />
                </ng-container>

                <div class="mb-3">
                    <textarea class="form-control" rows="4" matInput placeholder="Add comments"></textarea>
                </div>

                <div class="d-flex align-items-center mb-3">
                    <a class="chat me-2" (click)="openQueryPopup()">Chat</a>
                    <img src="../../../assets/icons/icon_chat.png" alt="Chat Icon" />
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <span class="query-status"
                        [ngClass]="task.task_taskQueryStatus === 'pending' ? 'query-pending' : 'query-completed' ">{{
                        task.task_taskQueryStatus }}</span>

                    <div class="form-check form-switch">
                        <label class="form-check-label me-2">Mark as Complete</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="completeSwitch"
                            [disabled]="task.task_taskQueryStatus === 'pending'" (change)="markAsComplete()" />
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>