<app-drop-wrapper-container (complete)="onComplete()" (save)="onSave()">
  <div class="text-primary font-16">Download</div>
  <div class="mt-2">
    <label class="text-muted">
      <input type="checkbox" [(ngModel)]="taskData.acknowledgeTask" />
      Required user Acknowledgement
    </label>
  </div>
  <div>
    <label class="mt-1 text-muted">Files to download</label>
    <files-section [taskData]="taskData"></files-section>
  </div>
  <notification-management [taskData]="taskData"></notification-management>
</app-drop-wrapper-container>