<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drawflow | Simple Flow program libray</title>
  <meta name="description"
    content="Simple library for flow programming. Drawflow allows you to create data flows easily and quickly.">
</head>

<body>
  <app-header></app-header>
  <div class="wrapper bgColorLightgrey">
    <div class="col col1">
      <div (click)="logout()" class="pull-right" style="cursor: pointer; margin-right: 10px;"><img
          src="assets/icons/Icon_Logout.svg" /></div>
      <div class="cont1">
        <div class="mt-3" style="cursor: pointer; width: 155px;" (click)="toDashboard()"><i
            class="fas fa-arrow-left leftblue"></i>Go to Dashboard</div>
        <div class="align-item-center d-flex justify-content-between monthlydoc">Monthly Documents <img
            src="assets/icons/Icon_more3dot.svg" /></div>
        <div class="attrib">Attributes</div>
        <hr class="hrLine">
      </div>
      <!-- TODO Left nav icons -->
      <div class="draggable-nodes-container"
        style=" display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="draggable-row" *ngFor="let row of draggableNodes | slice:0:10; let i = index"
          style="display: flex; justify-content: center; align-items: center;">
          <div class="drag-drawflow" *ngFor="let node of draggableNodes.slice(i*2, i*2+2); let j = index"
            draggable={isDraggable} (dragstart)="drag($event)" [attr.data-node]="node.id"
            style="display: inline-block;">
            <img [attr.data-node]="node.id" [src]="'assets/icons/component/' + node.name + (phase === 'execution' ? '_d' : '') + '.png'" alt="{{node.name}} icon"
              style="width: 50px; height: 50px; vertical-align: middle; margin: 0 20px;">
          </div>
        </div>
      </div>
      <div class="cont1">
        <div class="attrib">Steps Status</div>
        <hr class="hrLine">
        <div class="status-button">
          <button class="btn btn-status">
            <span class="status-icon">
              <img src="assets/icons/Failure.png" alt="Failure">
            </span>
            Failure
            <span class="dropdown-icon">
              <i class="fas fa-chevron-down"></i>
            </span>
          </button>
        </div>
        <div class="status-button mt-2">
          <button class="btn btn-status">
            <span class="status-icon">
              <img src="assets/icons/Success.png" alt="Success">
            </span>
            Complete
            <span class="dropdown-icon">
              <i class="fas fa-chevron-down"></i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-right bgColorLightgrey">
     
      <div id="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <!-- TODO save workflow -->
        <div class="btn-save" *ngIf="this.action==='create'" (click)="saveWorkflow()">Save Workflow</div>
        <div class="btn-export" *ngIf="this.action==='create'" (click)="export()">Export</div>
        <div class="btn-clear" *ngIf="this.action==='create'" (click)="onClear()">Clear</div>
        <!-- <div class="btn-lock">
          <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
          <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');"
            style="display:none;"></i>
        </div>-->
        <div class="bar-zoom">
          <i class="fas fa-search-minus" (click)="onZoomOut()"></i>
          <i class="fas fa-search" (click)="onZoomReset()"></i>
          <i class="fas fa-search-plus" (click)="onZoomIn()"></i>
        </div> 
      </div>
    </div>
  </div>
</body>

</html>