<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drawflow | Simple Flow program libray</title>
  <meta name="description"
    content="Simple library for flow programming. Drawflow allows you to create data flows easily and quickly.">
</head>

<body> 

  <header>
    <h2>Workflow tool</h2>
  </header>
  <div class="wrapper">
    <div class="col">
      <div
        class="drag-drawflow"
        *ngFor="let node of draggableNodes"
        draggable="true"
        (dragstart)="drag($event)"
        [attr.data-node]="node.id"
        >
        <i></i><span class={{node.icon}}>{{" "+ node.name}}</span>
      </div>

    </div>

    <div class="col-right">
      <div id="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)">

        <div class="btn-save" (click)="saveWorkflow()">Save Workflow</div>
        <div class="btn-export" (click)="export()">Export</div>
        <div class="btn-clear" (click)="onClear()">Clear</div>
        <div class="btn-lock">
          <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
          <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');"
            style="display:none;"></i>
        </div>
        <div class="bar-zoom">
          <i class="fas fa-search-minus" (click)="onZoomOut()"></i>
          <i class="fas fa-search" (click)="onZoomReset()"></i>
          <i class="fas fa-search-plus" (click)="onZoomIn()"></i>
        </div>
      </div>
    </div>
  </div>
</body>

</html>