<app-drop-wrapper-container>
  <div class="upload-type-select mb-3">
    <label class="mb-1">Upload Type</label>
    <div class="col-12">
      <select class="w-100 input-height" [(ngModel)]="uploadType" name="uploadType">
        <option value="template">Set Template</option>
        <option value="withData">With Data</option>
      </select>
    </div>
  </div>

  <label class="mb-1">Upload Template</label>

  <!-- File drop -->
  <div class="upload-box mb-3" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)">
    <p>
      Drag & drop file(s) or
      <label for="fileInput" class="browse-label">Browse</label>
    </p>
    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="*" multiple hidden />
  </div>

  <!-- Display list of selected file names -->
  <div style="width: 85%; font-size: 8px; margin: 0; padding: 0">
    <ul *ngIf="fileNames.length > 0" class="file-name-list">
      <li *ngFor="let name of fileNames">{{ name }}</li>
    </ul>
  </div>

  <!-- End file drop -->
  <form>
    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" (change)="updateWorkFlowPayload()" [(ngModel)]="autoVersioning" name="autoVersioning" />
      <label class="form-check-label" for="flexCheckDefault">
        Set auto file versioning
      </label>
    </div>

    <h5>Section 1</h5>
    <div class="mb-2">
      <label>Business Name</label>
      <div class="col-12">
        <input type="text" class="w-100 input-height" (change)="updateWorkFlowPayload()" [(ngModel)]="businessName" name="businessName" />
      </div>
    </div>

    <div class="mb-2">
      <label>Preparator</label>
      <div class="col-12">
        <select class="w-100 input-height" [(ngModel)]="preparator" (change)="updateWorkFlowPayload()" name="preparator">
          <option *ngFor="let prep of preparators" [value]="prep.name">{{ prep.name }}</option>
        </select>
      </div>
    </div>

    <div class="mb-2">
      <label>Reviewer</label>
      <div class="col-12">
        <select class="w-100 input-height" (change)="updateWorkFlowPayload()" [(ngModel)]="reviewer" name="reviewer">
          <option *ngFor="let rev of reviewers" [value]="rev.name">{{ rev.name }}</option>
        </select>
      </div>
    </div>

    <div class="mb-2">
      <label>Approver</label>
      <div class="col-12">
        <select class="w-100 input-height" (change)="updateWorkFlowPayload()" [(ngModel)]="approver" name="approver">
          <option *ngFor="let apr of approvers" [value]="apr.name">{{ apr.name }}</option>
        </select>
      </div>
    </div>

    <div class="mb-2">
      <label>File Type</label>
      <div class="col-12">
        <select class="w-100 input-height" (change)="updateWorkFlowPayload()" [(ngModel)]="fileType" name="fileType">
          <option value="CSV">CSV</option>
          <option value="DOC">DOC</option>
          <option value="PDF">PDF</option>
        </select>
      </div>
    </div>


    <button type="button" (click)="onSave()">Save</button>
  </form>
</app-drop-wrapper-container>