form label {
    // display: block;
    // margin-top: 10px;
}

form input,
form select {
    // width: 100%;
    // padding: 8px;
    // margin-top: 5px;
}

button {
    margin-top: 20px;
    background-color: #0e5ba3;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

.upload-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #0e5ba3;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background: #f9f9f9;
    transition: background 0.3s ease;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.upload-box:hover {
    background: #eef6ff;
}

.browse-label {
    color: #0e5ba3;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.file-name {
    margin-top: 10px;
    color: #2c3e50;
}


.upload-wrapper {
    // padding: 12px;
    // display: flex;

    .upload-type-select {}
}
.file-name-list{
    padding: 0
}
.btn-primary{
    background-color: #0e5ba3;
    border: #0e5ba3;
}
.text-primary{
    color: #0e5ba3 !important;
}


.section {
  // margin-top: 16px;
  padding: 10px;
  background: #ececec;
  margin: 10px 0 10px 0;
  border-radius: 0px;
}