.user-banner {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.user-role-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 24px;
  width: 180px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.user-role-card h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.count {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin: 10px 0 5px;
}

.label {
  font-size: 12px;
  color: #666;
}
.user-banner {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.user-role-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  width: 355px;
  border-bottom: 10px solid #0e5ba3 ;
  height: 150px;
  background-color: #D5E6F1;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.user-role-card:hover
{
  background-color:#0e5ba3 ;
}
.user-role-card:hover  h3,
.user-role-card:hover .count,
.user-role-card:hover .label
{
  color: #ffffff;
}
.user-role-card h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.count {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  position: absolute;
  bottom: 10%;
  left: 24px;
  margin: 10px 0 5px;
  
}
.label {
  font-size: 12px;
  color: #666;
  position: absolute;
  right: 24px;
  bottom: 10%;
}
