<div *ngIf="phase == 'creation'" class="card section">
  <div class="file-placeholder">
    Files will be here
  </div>
 
</div>
<div *ngIf="phase == 'execution'">
  <ul *ngIf="taskData?.files?.length > 0" class="file-name-list">
    <li *ngFor="let taskfile of taskData.files; let i = index" style="font-size: 14px;"
      class="d-flex align-items-center justify-content-between">
      <!-- // TODO: Priyanka Add CSV Icon here -->
      <a class="text-primary" [href]="downloadUrl + taskfile.fileId" target="_blank" download> {{ taskfile.name
        }}</a>
      <div>
        <span>
          <img src="../../../assets/icons/View File.png" alt="View Icon"
            style="width: 16px; height: 16px; cursor: pointer;" (click)="openFile($event, taskfile)" />
          <!-- // TODO: Priyanka update download icon here -->
          <img src="../../../assets/icons/View File.png" alt="View Icon"
            style="width: 16px; height: 16px; cursor: pointer;" (click)="openFile($event, taskfile)" />
        </span>
        <!-- <span>
              <img src="../../../assets/icons/Bin.png" alt="Delete Icon"
                style="width: 16px; height: 16px; cursor: pointer;" (click)="removeFile(i)" />
            </span> -->
      </div>
    </li>
  </ul>
</div>