<header class="header">
  <div>
    <h1 class="dashboard-title">
      {{ greetMsg}} <span>{{(appService.getUser() ? ', ' + appService.getUser().name : '')}}</span>
    </h1>
  </div>
  <span class="vrbar"></span>
  <nav class="dashboard-nav">
    <ul class="horizontal-nav">
      <li><a href="#" (click)="onNavClick($event, 'tasks')">Task Dashboard</a></li>
      <li><a href="#" (click)="onNavClick($event, 'workflow/setup')">workflow Setup</a></li>
    </ul>
  </nav>
  <div>
    <img class="icon" src="assets/icons/help.png" alt="Help Icon" />
    <span class="custom-divider"></span>
    <img class="icon" src="assets/icons/profile.png" alt="Profile Icon" />
  </div>
</header>