<header class="dashboard-header">
  <img src="assets/icons/logo.png" alt="Company Logo" class="dashboard-logo" />
  <div>
    <h1 class="dashboard-title">
      {{ greetMsg + (appService.getUser() ? ', ' + appService.getUser().name : '') }}
    </h1>
    <div class="subtitle">Risk, Finance & Treasury</div>
  </div>
  <span class="vrbar"></span>
  <nav class="dashboard-nav">
    <ul class="horizontal-nav">
      <li><a href="#" (click)="onNavClick($event, 'tasks')">Task Dashboard</a></li>
      <li><a href="#" (click)="onNavClick($event, 'workflow/setup')">workflow Setup</a></li>
    </ul>
  </nav>
  <div class="dashboard-date">
    {{ today }}
    <i class="fa fa-calendar dateIcon" aria-hidden="true"></i>
  </div>


  <div class="dropdown">
    <button (click)="toggleMenu()" style="border: none;" class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="assets/icons/User Profile.png" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" [class.active]="role.role === 'owner'" (click)="selectRole(users.owner)">Owner</a></li>
      <li><a class="dropdown-item" [class.active]="role.role === 'preparator'" (click)="selectRole(users.preparator)">Preparator</a></li>
      <li><a class="dropdown-item" [class.active]="role.role === 'reviewer'" (click)="selectRole(users.reviewer)">Reviewer</a></li>
      <li><a class="dropdown-item" [class.active]="role.role === 'approver'" (click)="selectRole(users.approver)">Approver</a></li>
    </ul>
    </div>

 

</header>