.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vrbar {
  width: 2px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px;
}

.subtitle {
  font-size: 11px;
  color: #666;
  margin-bottom: 10px;
}

.dashboard-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-title {
  flex: 0 0 auto;
  font-size: 12px;
  margin: 0px;
}

.dashboard-nav {
  flex: 1;
  display: flex;
}

.dashboard-date {
  flex: 0 0 auto;
  font-size: 10px;
  color: #888;
  border: 1px solid #e2dfdf;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;

}

.dateIcon {
  margin-right: 5px;
  margin-left: 15px;
}

.horizontal-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  color: #888;
}

.horizontal-nav li a {
  text-decoration: none;
  color: #8b8a8a;
  font-size: medium;
}

.horizontal-nav li a:hover {
  color: #007bff;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.dashboard-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: scale(1.05);
}

.dashboard-footer {
  margin-top: 20px;
  text-align: right;
}

.profileMenu {
  position: absolute;
  top: 60px;
  right: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  z-index: 232323;
}

.profileMenuItem {
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  padding: 0px 17px;
  padding: 0px 16px;
  cursor: pointer;
  background: #fff;
}
.dropdown-item.active, .dropdown-item:active{
  background-color:#0e5ba3
}