.vrbar {
  width: 2px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px;
}

.header {
  display: flex;
  align-items: center;
}

.dashboard-title {
  flex: 0 0 auto;
  font-size: 12px;
  margin: 0px;
}

.dashboard-nav {
  flex: 1;
  display: flex;
}

.horizontal-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  color: #888;
}

.horizontal-nav li a {
  text-decoration: none;
  color: #8b8a8a;
  font-size: medium;
}

.horizontal-nav li a:hover {
  color: #007bff;
}

.icon {
  display: inline-block;
  margin: 1rem;
  vertical-align: middle;
  height: 20px;
}

.custom-divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #ccc;
  vertical-align: middle;
  margin: 0 10px;
}