<!--Query modal-->

<div style="display: block" *ngIf="isVisible && type==='query'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="padding: 0px; width: 500px; height: 500px;">
      <div class="modal-header chat-modal-content">
        <h5 class="modal-title">{{title}}</h5>
        <button  (click)="close()" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="assignTo" class="form-label">Assign to</label>
        <select class="form-select mb-3" id="assignTo">
          <option selected>Select</option>
          <option value="1">Process Owner</option>
          <option value="2">Preparator</option>
          <option value="3">Reviewer</option>
        </select>
        
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"><i class="fa fa-paperclip"></i></span>
          <input type="text" class="form-control" placeholder="Type Message" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <span class="input-group-text btn btn-primary" id="basic-addon2"><i class="fa fa-send"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- File Version modal -->
<div style="display: block" *ngIf="isVisible && type==='fileversion'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 750px;">
      <div class="modal-header">
        <h5 class="modal-title">{{title}} | {{taskBusinessName}}</h5>
        <span (click)="close()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
      </div>
      <div class="modal-body" style="width: 700px;">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Business Date</th>
              <th>File Details</th>
              <th>Uploaded By</th>
              <th>Version</th>
              <th>Upload Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of fileVersions">
              <td>{{file.businessDate}}</td>
              <td>{{ file.fileName }}</td>
              <td>{{ file.uploadedBy }}</td>
              <td>{{ file.version }}</td>
              <td>{{ file.uploadDate }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<!-- File history modal -->
<div style="display: block" *ngIf="isVisible && type==='filehistory'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 750px;">
      <div class="modal-header">
        <h5 class="modal-title">{{title}} | {{taskBusinessName}}</h5>
        <span (click)="close()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
      </div>
      <div class="modal-body" style="width: 700px;">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Business Date</th>
              <th>File Details</th>
              <th>Uploaded By</th>
              <th>Version</th>
              <th>Upload Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of fileVersions">
              <td>{{file.businessDate}}</td>
              <td>{{ file.fileName }}</td>
              <td>{{ file.uploadedBy }}</td>
              <td>{{ file.version }}</td>
              <td>{{ file.uploadDate }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<!-- History modal -->
<div style="display: block" *ngIf="isVisible && type==='history'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false" id="fileHistory" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 750px;">
      <div class="modal-header">
        <h5 class="modal-title">File History</h5>
        <span (click)="close()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
      </div>
      <div class="modal-body" style="width: 700px;">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Business Date</th>
              <th>File Details</th>
              <th>Uploaded By</th>
              <th>Version</th>
              <th>Upload Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of filehistory">
              <td>{{file.businessDate | date:'short'}}</td>
              <td>{{ file.name }}</td>
              <td>{{ file.uploadedBy }}</td>
              <td>{{ file.version }}</td>
              <td>{{ file.uploadDate | date:'short' }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
<!-- error modal -->
<div style="display: block" *ngIf="isVisible && type ==='error'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
    </div>
  </div>
</div>
<!-- commentary modal -->
<div style="display: block" *ngIf="isVisible && type==='commentary'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="height: 100px;">
    <div class="modal-content" style="width: 750px;">
      <div class="modal-header">
        <h5 class="modal-title">Conversation</h5>
        <span (click)="close()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
      </div>
      <div class="modal-body" style="width:600px">
        <div class="mb-3">
          <label class="text-muted">Assign To:</label>
          <input type="text" class="form-control" style="background: #efefef;" value="john.doe@barclays.com" readonly />
        </div>

        <div class="text-center d-flex align-item-centermy-3">
          <hr class="d-inline-block w-25" />
          <span class="mx-2 text-muted">Added to conversation: rahul</span>
          <hr class="d-inline-block w-25" />
        </div>

        <div class="conversation-item mb-3">
          <div class="d-flex align-items-center">
            <img src="../../../assets/icons/User Profile.png" alt="User Avatar" class="rounded-circle me-2" />
            <div>
              <strong class="text-primary">Aman Khurana</strong>
              <p class="mb-0 text-muted" style="font-size: 0.9rem;">12:30 PM</p>
            </div>
          </div>
          <p class="mt-2 text-muted">Data Mismatch</p>
        </div>
        <div class="mb-3">
          <label class="text-muted">Commentary</label>
          <textarea class="form-control" style="background: #efefef;" rows="3"
            readonly>{{commentary}}</textarea>
        </div>
      </div>


      <div class="modal-footer">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"><i class="fa fa-paperclip"></i></span>
          <input type="text" class="form-control" placeholder="Type Message" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <span class="input-group-text btn btn-primary" id="basic-addon2"><i class="fa fa-send"></i></span>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Other modal -->
 <div *ngIf="isVisible">
  <div style="display: block" *ngIf="type ==='save' || type === 'update' || type === 'reject' || type === 'approve'" class="modal" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
        <div *ngIf="type === 'reject'">
          <input type="text" class="form-control" placeholder="Add comment" [(ngModel)]="rejectComment">
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="type === 'reject'" type="button" class="btn btn-danger" data-bs-dismiss="modal"
          (click)="onReject()">Reject</button>
        <button *ngIf="type === 'approve'" type="button" (click)="onApprove()" class="btn btn-success"
          data-bs-dismiss="modal">Approve</button>
        <button *ngIf="type === 'save' || type === 'update'" type="button" class="btn btn-primary" (click)="goToDashboard()">Go to
          Dashboard</button>
      </div>
    </div>
  </div>
</div>
 </div>

