/* Full-screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* ensure it's above other content */
}

/* Popup box */

.conversation-item {
  padding: 10px;

}

.modal-body {
  font-size: 14px;
}

.input-group {
  width: 100%;
}

.input-group .form-control {
  border-right: none;
}

.input-group .btn {
  border-left: none;
}

.chat-modal-content {
  background-color: #085da8;
  color: #fff;
}

.modal-content {
  padding: 0;
}

.modal-title {
  font-size: 15px;
}


.modal-body table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  width: 100%;
}

.modal-body table th,
.modal-body table td {
  padding: 15px;
  color: #8f8f8f;
  font-size: 12px;
}

th {
  font-weight: 400;
  background: #f0f0f0;
  color: #8f8f8f;
}
.file-name{
  color: #085da8;
}
.modal-header{
  color: #8f8f8f;
  font-size: 12px;
  border-bottom: none;

}
.input-group-text, .input-group .form-control{
  border: none !important;
  background: none;
}
.btn-close-query{
  background: #4edd07;
  color: #fff;
  font-size: 14px;
}
.assignedto-box{
background-color: #e6e6e6;
}
.messages{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

  select.role {
    font-size: 14px; 
    padding: 4px 8px; 
  }

  select.role option,
  select.role optgroup {
    font-size: 14px; 
    padding: 2px 4px;
    margin: 0;       
  }

 .col{
  border: none !important;
 }
