::ng-deep .ngb-tp-input {
    width: 46px !important;
}

::ng-deep  .ngb-dp-navigation-select{
    width: 100px !important;
}

  ::ng-deep .ngb-tp-input-container {
    width: 38px !important;
    margin-left: 13px;
}

label,select, input ,textarea {
    font-size: 14px;
    height: 30px;
}
::ng-deep .ngb-tp-spacer{
    display: none;
}
.margin-64{
    margin-left: 64px;
}

.font-16{
    font-size: 16px;
}  
.btn-primary{
    background-color: #0e5ba3;
    border: #0e5ba3;
}
.text-primary{
    color: #0e5ba3 !important;
}