<div class="dashboard">
  <!-- <header class="dashboard-header">
    <img src="assets/icons/logo.png" alt="Company Logo" class="dashboard-logo" />
    <div>
      <h1 class="dashboard-title">PC Workflow</h1>
      <div class="subtitle">Risk, Finance & Treasury</div>
    </div>
    <span class="vrbar"></span>
    <nav class="dashboard-nav">
      <ul class="horizontal-nav">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">User Management</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
    <div class="dashboard-date">
      30-4-25
      <i class="fa fa-calendar dateIcon" aria-hidden="true"></i>
    </div>
  </header> -->

  <app-user-banner></app-user-banner>
  <app-grid></app-grid>

  <footer class="dashboard-footer">
    <p>&copy; 2023 Your Company</p>
  </footer>
</div>