
  .nav-link.active{
    color: #0e5ba3;
    text-decoration: underline;
  }
  .nav-link{
    background-color: #fff;
    color: #000;
    border: none;
    border-color: #fff;
  }
  .nav-item{
    border-radius: none;
   cursor: pointer;
  }
 
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border: none;
  }
  .nav-tabs {
    border: none !important;
  }
  .nav-divider {
    display: inline-block;
    margin: 10px 0;
    vertical-align: middle;
    color: #6c757d; 
}