<div class="container-fluid">
  <!--tab-->
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'pending'" (click)="setSelectedTab('pending')">Active
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-divider">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'completed'" (click)="setSelectedTab('completed')">Completed
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-divider">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'upcoming'" (click)="setSelectedTab('upcoming')">Upcoming
        </a>
      </li>
    </ul>
  </div>
  <!--grid-->
  <div class="ag-theme-alpine">
    <ag-grid-angular style="height: 475px; width: 100%;" [rowHeight]="55" [rowData]="filteredData"
      [columnDefs]="columnDefs" [localeText]="{ noRowsToShow: 'No workflow to show' }">
    </ag-grid-angular>
  </div>

</div>