.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.vrbar {
  width: 2px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px;
}

.subtitle {
  font-size: 11px;
  color: #666;
  margin-bottom: 10px;
}

.dashboard-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-title {
  flex: 0 0 auto;
  font-size: 20px;
}

.dashboard-nav {
  flex: 1;
  display: flex;
}

.dashboard-date {
  flex: 0 0 auto;
  font-size: 10px;
  color: #888;
  border: 1px solid #e2dfdf;
  padding: 5px 10px;
  border-radius: 5px;
  
}
.dateIcon {
  margin-right: 5px;
  margin-left: 15px;
}

.horizontal-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  color: #888;
}

.horizontal-nav li a {
  text-decoration: none;
  color: #8b8a8a;
  font-size: medium;
}

.horizontal-nav li a:hover {
  color: #007bff;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.dashboard-card {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: scale(1.05);
}

.dashboard-footer {
  margin-top: 20px;
  text-align: right;
}
.closepopup {
  position: absolute;
  top: 8px;
  right: 16px;
}

modal.small-popup {
  width: 350px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.18);
  position: fixed;
  z-index: 9999;
  padding: 0;
}

.modal-content {
  padding: 24px;
}

.modalfooterClass {
  border: none
}

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.2);
  z-index: 1040;
}
.nav-link.active{
  background-color: #0e5ba3;
  color: white;
}
.nav-link{
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.nav-item{
  margin-left: 5px;
  border-radius: none;
  cursor: pointer;
}
.badge{
  --bs-badge-font-size: 0.60em !important;
}
